# Server
PORT=3000

# Database
DB_PASSWORD=onesto01
DB_NAME=animalitos_lost_db
DB_PORT=5434
DB_HOST=localhost
DB_USER=postgres

# Email Service
MAILER_EMAIL=soyangeldavid1@gmail.com
MAILER_PASSWORD=zbxguqsenctyrmag
MAILER_SERVICE=gmail

# Mapbox API
MAPBOX_TOKEN=your_mapbox_token_here

# Redis Cache (for GET endpoints)
REDIS_URL=redis://localhost:6379

# Azure Application Insights (optional)
APPINSIGHTS_INSTRUMENTATIONKEY=
